{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="display-3">Bienvenue sur Kaay deukk</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
			</p>
		</div>
		<h2 class="my-5">Les dernières annonces...</h2>


		<div class="row">
			{% for annonce in annonces %}
				<div class="col-md-4">
					<div class="card mb-3"></div>
					<h5 class="card-header">{{annonce.title}}</h5>
					<img src="{{asset ('uploads/coverImage/'~ annonce.coverImage)}}" alt="annonce" style="height: 200px;width:100%;">
					<div class="card-body">
						<p class="card-text">{{annonce.introduction}}</p>
					</div>
					<div class="card-body">
						<a href="{{path('annonce_show',{id: annonce.id})}}">Details
						</a>
					</div>
					<div class="card-footer text-muted text-center">
						2 days ago
						<i class="fas fa-map-marker"></i>
						<strong>Maristes</strong>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
